<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>publicarproducto</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.publicarproducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarimagen</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.consultarimagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_usuario</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Productos</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controladorcomentario</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controladorcomentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Interesados</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_Interesados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Categoria</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Solicitud</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_Solicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Errores</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_Errores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Validaciones</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_Validaciones</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Controlador_Departamentos</servlet-name>
        <servlet-class>Exchange.proyecto.negocio.servlet.Controlador_Departamentos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>publicarproducto</servlet-name>
        <url-pattern>/publicarproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarimagen</servlet-name>
        <url-pattern>/consultarimagen</url-pattern>
        <url-pattern>/imagenperfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_usuario</servlet-name>
        <url-pattern>/ingresar</url-pattern>
        <url-pattern>/regristar</url-pattern>
        <url-pattern>/clave</url-pattern>
        <url-pattern>/cerrar</url-pattern>
        <url-pattern>/inicio</url-pattern>
        <url-pattern>/consultar</url-pattern>
        <url-pattern>/editarusuario</url-pattern>
        <url-pattern>/recuperclave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Productos</servlet-name>
        <url-pattern>/detalles</url-pattern>
        <url-pattern>/producto</url-pattern>
        <url-pattern>/editarproducto</url-pattern>
        <url-pattern>/eliminar</url-pattern>
        <url-pattern>/publicar</url-pattern>
        <url-pattern>/perfil</url-pattern>
        <url-pattern>/listar_producto</url-pattern>
        <url-pattern>/publicaciones</url-pattern>
        <url-pattern>/publicarproductos</url-pattern>
        <url-pattern>/subasta</url-pattern>
        <url-pattern>/misproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controladorcomentario</servlet-name>
        <url-pattern>/comentar</url-pattern>
        <url-pattern>/agregarcomentar</url-pattern>
        <url-pattern>/eliminarcomentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Interesados</servlet-name>
        <url-pattern>/Controlador_Interesados</url-pattern>
        <url-pattern>/eliminarinteresados</url-pattern>
        <url-pattern>/agregarinteresados</url-pattern>
        <url-pattern>/Interesados</url-pattern>
        <url-pattern>/listainteresados</url-pattern>
        <url-pattern>/productoaintercambiar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Categoria</servlet-name>
        <url-pattern>/Controlador_Categoria</url-pattern>
        <url-pattern>/categoria</url-pattern>
        <url-pattern>/categoria_Usuario</url-pattern>
        <url-pattern>/Listar_Categotia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Solicitud</servlet-name>
        <url-pattern>/Controlador_Solicitud</url-pattern>
        <url-pattern>/agregarsolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Errores</servlet-name>
        <url-pattern>/Controlador_Errores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Validaciones</servlet-name>
        <url-pattern>/validar_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Departamentos</servlet-name>
        <url-pattern>/Controlador_Departamentos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
